nav {
  background-color: rgb(241, 238, 238);
  display: flex;
  height: 10vh;
}


body {
  margin: 0px;
}

.nav-left {
  display: flex;
  padding-left: 100px;
  align-items: center;
  width: 50%;
}

.nav-left li {
  display: inline;
}

.nav-left ul {
  display: flex;
  align-items: center;
}

.nav-left ul li a {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: black;
  text-decoration: none;
  padding: 15px;
}

.nav-right {
  font-family: arial;
  display: flex;
  flex: 50%;
  justify-content: end;
  align-items: center;
  padding: 30px;
  font-size: 14px;
}

.nav-right a {
  color: white;
  text-decoration: none;
  padding: 5px 25px;
  border-radius: 10px;
  background-color: orangered;
}
section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding-top: 40px;
  padding-left: 90px;
  padding-bottom: 40px;
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 120px;
  display: flex;
  background-color: whitesmoke;
  height: 28rem;
}

.logo-sosmed {
  margin-top: 20px;
  padding-top: 50px;
}

.social-media-icon {
  padding: 15px;
  color: black;
  font-size: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 5px;
  padding: 20px;
}

.bagian-kiri {
  flex: 50%;
}

.bagian-kanan {
  flex: 50%;
}

.bagian-kiri p {
  margin-bottom: 90px;
}

h1 {
  font-family: verdana;
}

p {
  font-family: sans-serif;
}

body {
  background-color: rgb(203, 212, 203);
}


