.judul {
    text-align: center;
  }
  
  body {
    margin: 0px;
  }
  nav {
    background-color: rgb(241, 238, 238);
    display: flex;
    height: 10vh;
  }
  
  .nav-left {
    display: flex;
    padding-left: 100px;
    align-items: center;
    width: 50%;
  }
  
  .nav-left li {
    display: inline;
  }
  
  .nav-left ul {
    display: flex;
    align-items: center;
  }
  
  .nav-left ul li a {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    text-decoration: none;
    padding: 15px;
  }
  
  .nav-right {
    font-family: arial;
    display: flex;
    flex: 50%;
    justify-content: end;
    align-items: center;
    padding: 30px;
  }
  
  .nav-right a {
    color: white;
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 5px;
    background-color: orangered;
  }
  
  .page {
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .left-image {
    display: flex;
  }
  
  .right-text {
    display: flex;
    flex-direction: column;
  }
  
  .duration {
    display: flex;
    flex-direction: column;
  }
  
  .left {
    display: flex;
    width: 30rem;
  }
  
  .technology {
    display: flex;
    flex-direction: column;
  }
  .technologies {
    display: flex;
  }
  
  .paragraf {
    padding-left: 10rem;
    padding-right: 10rem;
  }