nav {
  background-color: rgb(241, 238, 238);
  display: flex;
  height: 10vh;
}


body {
  margin: 0px;
}

.nav-left {
  display: flex;
  padding-left: 100px;
  align-items: center;
  width: 50%;
}

.nav-left li {
  display: inline;
}

.nav-left ul {
  display: flex;
  align-items: center;
}

.nav-left ul li a {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: black;
  text-decoration: none;
  padding: 15px;
}

.nav-right {
  font-family: arial;
  display: flex;
  flex: 50%;
  justify-content: end;
  align-items: center;
  padding: 30px;
  font-size: 14px;
}

.nav-right a {
  color: white;
  text-decoration: none;
  padding: 5px 25px;
  border-radius: 10px;
  background-color: orangered;
}

.hamburger-nav {
  font-size: 23px;
  display: none;
}

.hamburger-nav .hamburger-active {
  background-color: orangered;
}

.hamburger-nav a {
  color: white;
  background-color: #9a9a9a;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid #fff;
}

body {
  margin: 0px;
}

.input-blog-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  width: 530px;
  background-color: aliceblue;
}

.add-my-project {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

body {
  background-color: rgb(212, 212, 212);
}

form {
  margin: 50px auto;
  width: 550px;
  padding: 10px;
}

form div {
  margin-top: 10px;
}

form label {
  font-weight: bold;
  font-size: 20px;
  color: black;
  font-family: monospace;
}

.nama {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.tanggal {
  width: 110%;
  padding: 10px;
  margin-top: 15px;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.pesan {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
  resize: none;
}

form button {
  background-color: black;
  color: white;
  padding: 7px 25px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: end;
}

.date {
  display: flex;
}

.checkbox-technologies {
  display: flex;
  margin-bottom: 30px;
}

.checkbox-kiri {
  flex: 50%;
}

.checkbox-kanan {
  flex: 50%;
}

input[type="checkbox"] {
  transform: scale(1.5);
  box-shadow: 0px 1px 9px grey;
  cursor: pointer;
  margin-right: 15px;
}

.blog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
}

.blog-list-item {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 10px;
  width: 20%;
  height: 30%;
  background-color: whitesmoke;
  box-shadow: 0px 9px 20px grey;
  margin: 25px;
  padding: 20px;
}

.blog-image {
  width: 100%;
  border: 1px whitesmoke;
  border-radius: 5px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;

}

.judul-blog {
  margin-top: 10px;
}

.detail-blog-content {
  color: grey;
}

.logo-blog {
  display: flex;
}

.logo-kecil {
  width: 25px;
  margin: 5px;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn-edit {
  color: white;
  background-color: rgb(39, 39, 77);
  padding: 5px;
  margin-right: 5px;
  border: black;
  border-radius: 5px;
  width: 165px;
  font-family: sans-serif;
}

.btn-post {
  color: white;
  background-color: rgb(39, 39, 77);
  padding: 5px;
  margin-right: 5px;
  border: black;
  border-radius: 5px;
  width: 165px;
  font-family: sans-serif;
}

.judul-my-project {
  text-align: center;
  margin-top: 50px;
}

.isi-konten {
  background-color: whitesmoke;
}

.judul-pasar-coding {
  font-size: 20px;
  font-weight: bold;
}

.fa-brands {
  padding: 7px;
  font-size: 25px;
}

#barsmenu {
  display: none;
}

@media screen and (max-width: 900px) {
  .card-left {
    width: 100%;
  }

  .bagian-kiri {
    flex: 100%;
    display: flex; 
  }

  .bagian-kanan {
    margin-left: 0;
  }
  
  section {
    flex-direction: column;
    height: auto;
    justify-content: left;
    padding-right: 40px;
    padding-left: 40px;
  }

  .logo-sosmed {
    padding-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  
  .card {
    flex-direction: column;  
  }

  #barsmenu {
    display: block;
    padding: 40px 20px;
  }

  .nav-left {
    display: none;
  }

  .nav-right {
    display: none;
  }

  .card-left {
    margin-left: 0px;
    padding-left: 0px;
  }

  section {
    height: auto;
    justify-content: left;
    padding-right: 40px;
    padding-left: 40px;
  }

  .logo-sosmed {
    padding-top: 10px;
  }

}
